 <div class="page3">
  <div  class="report-head">
    <h1>Report Encounter<br /></h1>
     <span>Safety on Mars is your responsibility</span>
  </div>
  <div class="form-report">

    <form action="" class="reportingform" name="report" ng-class="{'show-validation': showvalidation}" ng-submit="submitreport($event)" novalidate>
      <select name="alienType" ng-model="encounter.atype" ng-class="{ 'placeholder': !encounter.atype }" placeholder="Select alien type" required>
        <option value="" class="placeholder">select alien type</option>
        <option value="{{ a.type }}" ng-repeat="a in aliens"> {{ a.type }} </option>
   </select>
   <textarea name= "actionTaken" type="text" placeholder="Action Taken"  ng-model="encounter.action" rows="10" cols="" required>
   </textarea>
       <button class="button" type="submit">Submit Report</button>
  </form>
</div>
</div>
